<!DOCTYPE html>
<html lang="en" class="no-js">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

    <main id="login">
        <section class="content"><%- include('../partials/flash.ejs') %>
            <div class="content-wrapper">
                <h1>Login</h1>
                <form action="/admin" method="POST" class="validated-form" novalidate>
                    <div>
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button>Login</button>
                </form>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src='/js/utils/validateForms.js'></script>
    <script src="/js/pages/login.js" type="module"></script>
</body>
</html>
