<div id="flash-message">
    <% if(success && success.length) {%>
        <div class="fm-success" role="alert">
            <%= success %>
            <button onclick="document.querySelector('.fm-success').remove()">x</button>
        </div>
    <% } %>

    <% if(error && error.length) {%>
        <div class="fm-error" role="alert">
            <%= error %>
            <button onclick="document.querySelector('.fm-error').remove()">x</button>
        </div>
    <% } %>
</div>

