<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/vendor/normalize.min.css">
    <link rel="stylesheet" href="/css/main.min.css">
    <meta name="description" content="Get the latest info on what the fellas at OEP are up too.">

    <meta property="og:title" content="Off Ended Productions">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://offendedproductions.com">
    <meta property="og:image" content="https://offendedproductions.com/img/putting-in-the-time.jpg">
    <meta property="og:image:alt" content="">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="manifest" type="" href="/site.webmanifest">
    <meta name="theme-color" content="#fafafa">
</head>


