<!DOCTYPE html>
<html lang="en" class="no-js">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
    <main id="about">
        <section class="content">
            <div class="content-wrapper">
                <div class="content-info">
                    <div>
                        <h1>About Us</h1>
                        <p>The Off Ended Productions Team!</p>
                    </div>
                    <br>
                    <p>Welcome to "Off Ended Productions," where we boldly explore the controversial and the extraordinary across various media forms. Our dedicated team, featuring 2Jz Da Grown Folk DJ, Mountain Mike, and M.O., is committed to producing unfiltered content that dives headfirst into topics others shy away from. From compelling music and cutting-edge web design to expert tax preparation, innovative gaming, and riveting podcasts, we pride ourselves on creating thought-provoking, boundary-pushing media that challenges the status quo and sparks meaningful conversations. We shine a light on the hidden, the untold, and the extraordinary, aiming to leave a lasting impact on our audience.</p>
                    <br>
                    <p>At "Off Ended Productions," we believe in the power of authentic storytelling and versatile content creation to ignite change and broaden perspectives. Our mission is to engage viewers and listeners on a deeper level by providing a platform for voices that need to be heard, confronting societal taboos, and bringing fresh, unapologetic narratives to the forefront of public discourse. Whether it's through captivating music, raw exposés, innovative web design, expert tax preparation, gaming experiences, or riveting podcasts, we’re not here to play it safe. Brace yourself for a media experience that's brutally honest and thoroughly engaging.</p>
                </div>
                <div class="content-images">
                    <img class="oep-logo" src="/img/oep-logo-768px.webp" alt="Off Ended Productions"/>
                    <img class="oep-logo-mobile" src="/img/oep-logo-mobile.webp" alt="Off Ended Productions">
                </div>
            </div>
        </section>
        <section class="oep-stickman">
            <div class="container">
                <div class="caption">
                    <h2 class="text-center">Thank You!</h2>
                    <p class="font-bold">We want to extend our heartfelt gratitude to each one of you for the incredible love and unwavering support you've shown to our team. Your encouragement, belief in us, and positive energy have been a driving force behind our success. We are truly thankful for your dedication and the moments we've shared together. Your support has made a significant impact, and we are excited to continue this journey with you all by our side. Thank you for being such an amazing part of our team's story.</p>
                </div>
                <div class="caption text-center pt-5">
                    <h2>Special Thanks To Our Sponsors!</h2>
                    <div>
                        <p class="font-bold italic">If we had some...</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>
    <script src="/js/pages/about.js" type="module"></script>
</body>
</html>
