<!DOCTYPE html>
<html lang="en" class="no-js">
<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <main id="community">
        <section class="bg-black">
            <div class="container flex flex-col-reverse xl:grid grid-cols-2 gap-7 justify-center text-white">
                <div>
                    <div class="text-center xl:text-start mt-10">
                        <h2 class="display-2">COMMUNITY</h2>
                        <p class="text-4xl permanent-marker-regular">A stead-fast, iron community!</p>
                    </div>
                    <br>
                    <p>Our community page facilitates residence-specific discussions, enabling us to address the concerns of our local community. We prioritize current local events, recommendations from long-term residents, and intriguing attractions to visit. Additionally, we disseminate pertinent news and information pertaining to our mountain communities.</p>
                    <br>
                    <p>Nestled in the foothills of the San Bernardino Mountains, Running Springs is a close-knit community renowned for its robust sense of camaraderie and ample outdoor recreational opportunities. The surrounding natural splendor draws outdoor enthusiasts, while the proximity to nearby towns facilitates convenient access to essential services, fostering a harmonious lifestyle for its residents.</p>
                </div>
                <div class="container__animated">
                    <img class="img-fluid rounded invisible" src="/img/running-springs-ca.webp" alt="Running Springs CA"/>
                </div>
            </div>
        </section>
        <section class="oep-stickman">
            <div>
                <div class="text-center">
                    <h2 class="caption">Running Springs</h2>
                    <p class="caption text-4xl permanent-marker-regular">Check Out Our Mountain Community!</p>
                </div>
                <div class="flex flex-row container__animated-flex justify-center mt-10 ">
                    <a class="btn m-2 w-[200px] y-translate" href="/community/events">Events</a>
                    <a class="btn m-2 w-[200px] y-translate" href="/community/businesses">Businesses</a>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footbar.ejs') %>
    <%- include('partials/scripts.ejs') %>
    <script src="/js/images.js"></script>
    <script>
        const communityImages = document.querySelectorAll(".container__animated")
        const communityDivs = document.querySelectorAll(".container__animated-flex")
        const captions = document.querySelectorAll(".caption")

        const observer = new IntersectionObserver(handleIntersection, options)
        const observerCaptions = new IntersectionObserver(handleCaptions, options)

        communityImages.forEach(element => {
          observer.observe(element)
        })

        communityDivs.forEach(element => {
          observer.observe(element)
        })

        captions.forEach(element => {
          observerCaptions.observe(element)
        })
    </script>
</body>
</html>
