<!DOCTYPE html>
<html lang="en" class="no-js">
<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
    <main id="community">
        <section class="content">
            <div class="content-wrapper">
                <div class="content-info">
                    <div>
                        <h2>COMMUNITY</h2>
                        <p>A stead-fast, iron community!</p>
                    </div>
                    <br>
                    <p>Our community page facilitates residence-specific discussions, enabling us to address the concerns of our local community. We prioritize current local events, recommendations from long-term residents, and intriguing attractions to visit. Additionally, we disseminate pertinent news and information pertaining to our mountain communities.</p>
                    <br>
                    <p>Nestled in the foothills of the San Bernardino Mountains, Running Springs is a close-knit community renowned for its robust sense of camaraderie and ample outdoor recreational opportunities. The surrounding natural splendor draws outdoor enthusiasts, while the proximity to nearby towns facilitates convenient access to essential services, fostering a harmonious lifestyle for its residents.</p>
                </div>
                <div class="content-images">
                    <img src="/img/running-springs-ca.webp" alt="Running Springs CA"/>
                </div>
            </div>
        </section>
        <section class="content rs">
            <div class="content-wrapper">
                <div class="content-info">
                    <div class="content-header">
                        <h2>Running Springs</h2>
                        <p>Check Out Our Mountain Community!</p>
                    </div>
                    <div class="content-more">
                        <a href="/community/events">Events</a>
                        <a href="/community/businesses">Businesses</a>
                    </div>
                </div>

            </div>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>
    <script src="/js/pages/community.js" type="module"></script>
</body>
</html>
