@use '../utils/variables' as variables
@use '../utils/mixins' as mixins
@use '../utils/animations' as animations

#lp
  .hero
    height: 100%

  .oep-logo
    padding: 0 1rem 0 1rem

    @include mixins.img-fluid
    @media (min-width: 992px)
      transform: translateX(48px)

  .lp-mottos
    font-family: "Permanent Marker", sans-serif
    text-align: center
    max-width: 992px
    font-size: 1.5rem
    margin-top: 5rem

    span
      opacity: 0

  .content-wrapper
    display: flex !important
    flex-wrap: wrap
    align-items: center
    justify-content: center
    margin-top: 5rem
    @include mixins.container


    .content-category
      flex-direction: column
      align-items: center
      width: 320px
      text-align: center
      transition: transform .3s ease-in-out
      @include mixins.animated-flex

      &:hover
        transform: scale(1.2)

      a
        padding-top: 1rem

        img
          background-color: variables.$primary-color
          border-radius: variables.$border-radius-sm
          outline: variables.$tertiary-color 1px solid !important
          transform: translateY(100vh) translateZ(0)
          padding: 2.5rem
          height: 250px
          width: auto

      label
        font-family: "Permanent Marker", sans-serif
        margin-top: 0.5rem
        opacity: 0
