@use '../utils/variables' as variables
@use '../utils/mixins' as mixins

html
  background-color: #000
  color: #222
  font-size: 0.875em
  line-height: 1.4

body
  font-family: "Open Sans", sans-serif
  color: variables.$secondary-color
  margin: 0
  padding: 0
  height: 100vh
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

::-moz-selection
  background: #b3d4fc
  text-shadow: none

::selection
  background: #b3d4fc
  text-shadow: none

hr
  display: block
  height: 1px
  border: 0
  border-top: 0.085rem solid variables.$tertiary-color
  margin: 1em 0
  padding: 0

audio,
canvas,
iframe,
img,
svg,
video
  vertical-align: middle

fieldset
  border: 0
  margin: 0
  padding: 0

textarea
  resize: vertical

main
  padding: 4.5rem 0 4.5rem 0
  overflow-x: hidden

//@media (max-width: 768px)
//  main
//    padding-top: 2.5rem

section,
footer
  padding-top: 2.5rem
  padding-bottom: 2.5rem

section:last-child
  padding-bottom: 0

@media (min-width: 768px)
  section,
  footer
    padding-top: 5rem
    padding-bottom: 5rem

footer
  padding-bottom: 1.5rem

h1,
h2,
h3,
h4
  font-size: 1.5rem
  font-family: "Raleway", sans-serif
  font-optical-sizing: auto
  font-weight: 900
  font-style: normal

h1,
h2
  font-family: "Raleway", sans-serif
  font-optical-sizing: auto
  font-weight: 900
  font-style: normal
  @include mixins.display

.oep-logo
  height: auto
  width: 100px

.permanent-marker-regular
  font-family: "Permanent Marker", sans-serif
  font-weight: 400
  font-style: normal

.display-6
  font-size: 2.5rem

.img-fluid
  height: auto !important
  max-width: 100% !important

.btn
  //background-color: var.$primary-color
  color: variables.$secondary-color
  display: block
  padding: .5rem
  border-radius: .25rem
  text-align: center
  transition: background-color .3s ease-in-out, color .3s ease-in-out

  &:hover
    background-color: variables.$tertiary-color

.container__animated
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 1fr

  img
    grid-column: 1
    grid-row: 1
    overflow-x: hidden
    width: 100%

.container__animated-flex
  display: flex !important
  flex-wrap: wrap !important
  overflow: hidden

.oep-stickman
  background-image: url("/img/oep-stickman.svg")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  background-attachment: fixed

.twojz-music
  background-image: url("/img/twojz-music-logo.svg")
  background-repeat: no-repeat
  background-position: center
  background-size: contain

.read-more-state
  display: none

.read-more-target
  opacity: 0
  max-height: 0
  font-size: 0
  transition: opacity 1s ease-in-out

.read-more-state:checked ~ ul .read-more-wrap .read-more-target
  opacity: 1
  font-size: inherit
  max-height: 999em

.read-more-state ~ .read-more-trigger:before
  content: "More"

.read-more-state:checked ~ .read-more-trigger:before
  content: 'Close'

.read-more-trigger
  border: variables.$tertiary-color 1px solid
  cursor: pointer
  font-size: 0.875rem
  @include mixins.btn

input::-ms-reveal
  filter: invert(100%)

.thumbnail
  width: 150px
  height: 150px

#filters
  height: 0
  transition: height 0.5s
  overflow: hidden
  opacity: 0

#filters.active
  height: 160px
  opacity: 1


@media (min-width: 640px)
  #filters.active
    height: 60px
    opacity: 1

.switch
  position: relative
  display: inline-block
  width: 60px
  height: 34px


  input
    opacity: 0
    width: 0
    height: 0


  span
    border: 1px solid #fff
    position: absolute
    cursor: pointer
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: #000
    transition: .4s
    border-radius: 34px


    &:before
      position: absolute
      content: ""
      height: 26px
      width: 26px
      left: 4px
      bottom: 4px
      background-color: white
      transition: .4s
      border-radius: 50%


  input:checked + span
    background-color: red
    border-color: red

  input:checked + span:before
    transform: translateX(26px)

.spinner
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  border: 4px solid rgba(0, 0, 0, 0.1)
  border-top: 4px solid #fff
  border-radius: 50%
  width: 100px
  height: 100px
  animation: spin 1s linear infinite
  display: none /* Hide spinner by default */
  z-index: 99
