@use'../utils/variables' as variables
@use '../utils/mixins' as mixins

.content
  //@include mixins.oep-stickman

  .content-wrapper
    position: relative
    display: flex
    flex-direction: column-reverse

    @include mixins.container
    @media (min-width: 1280px)
      display: grid
      grid-template-columns: repeat(2, minmax(0, 1fr))
      gap: 2.5rem

    .content-info
      overflow: hidden
      z-index: 3

      div
        text-align: center
        margin-top: 2.5rem

        @media (min-width: 1280px)
          text-align: start

        p
          font-family: "Permanent Marker", sans-serif
          font-size: 2.25rem

      span
        font-size: 0.875rem
        font-style: italic

        span
          font-weight: bolder
          font-style: normal

    .content-images
      position: relative
      @include mixins.animated-grid

      img,
      svg
        border-radius: variables.$border-radius-sm
        visibility: hidden
        height: auto !important
        max-width: 100% !important

    .spinner
      top: 2.5rem !important

    .content-header
      text-align: center
      opacity: 0

      p
        font-family: "Permanent Marker", sans-serif
        font-size: 2.25rem

  .content-card
    background-color: variables.$primary-color
    border: variables.$tertiary-color 1px solid
    border-radius: variables.$border-radius-md
    display: flex
    flex-direction: column
    padding: 2.5rem
    margin-bottom: 2rem
    width: 320px
    opacity: 0
    transform: translateY(100vh) translateZ(0)

    img
      @include mixins.img-fluid

    .content-card-body
      h3
        padding-top: 1.25rem
        padding-bottom: 1.25rem

      div
        display: flex
        flex-direction: column
        text-align: end
        padding: 1rem 0 1rem 0

        p
          font-weight: bold
          padding-top: 1rem

  .content-more
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    opacity: 0

    span
      font-weight: bold

    div
      display: flex
      flex-direction: row
      align-items: center
      justify-content: center
      padding-top: 1.25rem

      a
        display: flex
        align-items: center
        margin: 0 0.5rem 0 0.5rem

  &:nth-child(3)
    padding-top: 0

