@use '../utils/variables' as variables

// Site Header
#sh
  position: fixed
  background-color: variables.$primary-color
  padding: 1rem
  width: 100%
  z-index: 80

  .sh-controls
    display: flex
    flex-direction: row
    align-items: center
    z-index: 80

    button
      border: variables.$tertiary-color 1px solid
      margin-right: 1rem

  dialog
    position: relative

    &::backdrop
      background-color: rgba(0, 0, 0, 0.5)
      position: fixed
      left: 0
      margin: 0
      height: 100%
      width: 100%

    .sh-menu
      background-color: variables.$primary-color
      border-radius: 0 variables.$border-radius-lg variables.$border-radius-lg 0
      border: variables.$tertiary-color 1px solid
      color: variables.$secondary-color
      position: fixed
      top: 0
      left: 0
      transition: transform 0.5s ease-in-out
      transform: translateX(-320px)
      padding: 1rem
      height: 100%
      width: 320px
      z-index: 99

      .sh-controls
        justify-content: space-between

        button
          border: none

      //    TODO: Change to label elements
      span
        color: variables.$accent-color
        font-size: 0.75em
        padding: 6px 8px

      nav
        display: flex
        flex-direction: column
        margin-top: 2rem

        a
          border-radius: variables.$border-radius-sm
          padding: 6px 8px
          display: flex
          flex-direction: row
          align-items: center

          svg
            margin-right: 0.50rem

          &:hover
            background-color: variables.$tertiary-color

      .sh-admin
        margin-top: 3rem

        span
          display: block

        div
          margin-top: 1rem

          a
            display: flex
            flex-direction: row
            align-items: center
            color: lightslategray
            font-weight: lighter
            padding: 6px 8px

            svg
              margin-right: 0.50rem

  .sh-open-menu
    animation: slide-in 0.5s forwards

.sh-shadow
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5)
