@use '../utils/variables' as variables
@use '../utils/mixins' as mixins
@use '../utils/animations' as animations

.hero
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 100vh
  overflow: hidden !important

  img
    outline: none !important
    height: 768px
    width: auto

  div
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    bottom: 3rem

    span
      animation: blink 2s ease-in-out infinite
      animation-delay: 3s
      opacity: 0
      color: variables.$accent-color
      font-size: 0.875rem

  .hero-ripple
    position: absolute
    border-radius: 50%
    transform: scale(0)
    opacity: .5
    animation: ripple-animation 1s linear
    background: variables.$accent-color
    z-index: 99
