$primary-color: rgba(0, 0, 0, 1)
$primary-color-alpha: rgba(0, 0, 0, .5)
$secondary-color: #ffffff
$tertiary-color: #333333
$accent-color: #ff0000

$fm-success-color: #16a34a
$fm-error-color: #ff0000

$border-radius-sm: 0.25rem
$border-radius-md: 0.50rem
$border-radius-lg: 0.75rem

$font-size-sm: 0.75rem
